<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1 class="text-center">Create a new Product!</h1>
    <form action="/products/new" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <label for="Category">Category:</label>
      <input type="text" name="Category" id="Category" />
      <label for="Price">Price:</label>
      <input type="password" name="Price" id="Price" />
      <button type="submit">Add</button>
    </form>
</body>
</html>