<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit Page!</h3>

    <form action="/souq/<%=foundSouq._id%>?_method=PUT" method="post">
      <label for="name">Name:</label>
      <input type="text" value="<%=foundSouq.name%>" name="name" id="name">

      <label for="description">Description:</label>
      <input type="text" value="<%=foundSouq.description%>" name="description" id="description">

      <label for="price">Price:</label>
      <input type="text" value="<%=foundSouq.price%>" name="price" id="price">

      <button type="submit">Edit</button>
    </form>
</body>
</html>