<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>SOUQ PAGE</h3>
    <a href="/souq/new">New</a>

    <ul>
       <% allSouq.forEach((souq) => { %>
            <li> <a href="/souq/<%= souq._id %>"> <%= souq.name %> </a> </li>
            <li> <%= souq.description %> </li>
            <li> <%= souq.price %> </li>
       <% }) %>
    </ul>
</body>
</html>